<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="es.source.code.activity"
          android:versionCode="1"
          android:versionName="1.0">
    <permission android:label="自定义权限"
                android:name="scos.permission.ACCESSSCOS"
                android:description="@string/testexample"
                android:protectionLevel="dangerous"/>
    <uses-sdk android:minSdkVersion="14"/> <!--指定最低版本为android 4.0-->
    <application android:label="@string/app_name"
                 android:icon="@mipmap/scoslogo"
                 android:theme="@android:style/Theme.Holo"
                 android:allowBackup="true">
        <activity android:name="es.source.code.activity.SCOSEntry"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="es.source.code.activity.MainScreen"
                  android:permission="scos.permission.ACCESSSCOS">
            <intent-filter>
                <action android:name="scos.intent.action.SCOSMAIN"/>
                <category android:name="scos.intent.category.SCOSAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="es.source.code.activity.LoginOrRegister">
        </activity>
        <activity android:name=".FoodView">
        </activity>
    </application>
</manifest>
